<a href="https://colab.research.google.com/github/skycstage/skycstage/blob/main/Stage_Sky_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h5><div><font face="Playfair" color="#33302e">
Sky C. Stage<br><br>

---
<h2><b><div><font face="Playfair" color="#33302e">
Introduction
</font></div></b>
<h3><font face="Playfair" color="#33302e">
The dataset analyzed in this project was scraped from Instacart, contained six separate tables and the corresponding fields (note: the sixth table, order_products_train was excluded as predictive analytics was not required for this project):
<li>orders: 
  <code>order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order</code>
<li>order_products_prior:
  <code>order_id, product_id, add_to_cart_order,
reordered</code>
<li>products:
  <code>product_id, product_name, aisle_id, department_id</code>
<li>aisles:
  <code>aisle_id, aisle</code>
<li>departments:
  <code>department_id, department</code>
<h3>From this dataset, analysis was completed in Python and Pandas to answer the research questions outlined in section four.
</font><br><br>
<h2><b><div><font face="Playfair" color="#33302e">
Process and Analysis
</font></div></b>
<h3><font face="Playfair" color="#33302e">
With dataset divided in separate tables, a join had to be conducted to answer most research questions. The below diagram shows how each table was joined throughout this project.<br><br>
<img src="https://live.staticflickr.com/65535/51374483411_79a814b2fc_k.jpg" width="1000" alt="Diagram">
<br>
<h3>
Within this summary, the research questions and supporting visualizations are shown. Below, each section can be expanded to view the code used to create the queries and charts.
<br><br>
Each section can be run by clicking the play arrow next to the hidden cells after running the two cells below. The code in each section begins by importing the necessary DataFrames and libraries to answer the research question and ends with a manual runtime reset to save on RAM. This will allow us to complete all the necessary joins, groupings, and filters to create the visualizations and answers to the research questions without the session crashing completely. If the session does happen to crash completely, just run the two cells below again before running a new section. 
</font><br><br>
<h2><b><div><font face="Playfair" color="#33302e">
Connect to Kaggle and Import Libaries
<h3><font face="Playfair" color="#33302e">
First, run the following two cells to connect to Kaggle to pull the Instacart dataset zip folder and mount the Google drive to save and pull CSV files to and from later.

In [ ]:
#1. Import libraries
!pip install kaggle 
import json
import pandas as pd
import numpy as np

#2. Add Kaggle API token
token={"username":"--","key":"--"}

#3. Open Kaggle dataset
!mkdir ~/.kaggle
with open('/root/.kaggle/kaggle.json','w') as file:
  json.dump(token, file)
!kaggle config set -n path -v{/root}
!kaggle datasets list -s instacart
!kaggle datasets download -d psparks/instacart-market-basket-analysis -p /content
!unzip \*.zip

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/root}
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                          title                              size  lastUpdated          downloadCount
-------------------------------------------  --------------------------------  -----  -------------------  -------------
psparks/instacart-market-basket-analysis     Instacart Market Basket Analysis  197MB  2017-11-20 03:08:26           8038
viswajithkn/instacart-predict-shopping-time  Instacart Predict Shopping Time    12MB  2018-10-29 17:24:48            460
samwhitehill/instacart-training-sample       InstaCart training sample           1MB  2017-07-01 20:24:11            175
samwhitehill/instacart-sample-labels         Instacart sample labels             9KB  2017-07-01 20:26:16             29
streptkinase/instacart-data-cache            Instacart_data_cache              409MB  2020-07-31 05:35:52              9
emmettdoolan/instacart-mba                   Instacart_MBA                     198MB  2020-04-08 13:46:01             60
streptkinase/user-features-instacart         user_features_instacart             4MB  2020-08-06 05:56:24              8
despoinapatsavoudi/instacat2assignment1      instacat-2-assignment.1             4KB  2021-11-21 03:26:28              0
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading instacart-market-basket-analysis.zip to /content
 98% 193M/197M [00:05<00:00, 27.6MB/s]
100% 197M/197M [00:05<00:00, 38.7MB/s]
Archive:  instacart-market-basket-analysis.zip
  inflating: aisles.csv
  inflating: departments.csv
  inflating: order_products__prior.csv
  inflating: order_products__train.csv
  inflating: orders.csv
  inflating: products.csv

<h2><b><div><font face="Playfair" color="#33302e">
Mount the Drive
<h3><font face="Playfair" color="#33302e">
When the cell below is run, it will prompt an authorization input which you will have to login to to acquire the code to paste in the box.

In [ ]:
#5. Mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# <h2><b><div><font face="Playfair" color="#33302e">Initial Exploration
<h3><font face="Playfair" color="#33302e">
This section outlines the initial exploratory analysis. The cell below imports the CSV files from the Kaggle zip folder above into pandas DataFrames.

In [ ]:
#1. Import CSV files as dataframes
import pandas as pd
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
orders = pd.read_csv('orders.csv' )
order_products_train = pd.read_csv('order_products__train.csv')
order_products_prior = pd.read_csv('order_products__prior.csv')
products = pd.read_csv('products.csv')

## <h2><b><div><font face="Playfair" color="#33302e">View the Contents of Each DataFrame Table
<h3><font face="Playfair" color="#33302e">
To see what each DataFrame table contains, just type the name of the DataFrame in a code cell and run it.

In [ ]:
#2. Show the contents of each dataframe
aisles

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]

In [ ]:
departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [ ]:
orders

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]

In [ ]:
order_products_train

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [ ]:
order_products_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [ ]:
products

       product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49688 rows x 4 columns]

## <h2><b><div><font face="Playfair" color="#33302e">Look at the Columns Within Each Table
<h3><font face="Playfair" color="#33302e">
Let's look at a more simpler way to view all columns in a table -- this will come in handy later when we are conducting the joins between DataFrame tables.

In [ ]:
#3. Look at the columns/fields within each dataframe
list(aisles.columns)

['aisle_id', 'aisle']

In [ ]:
list(departments.columns)

['department_id', 'department']

In [ ]:
list(products.columns)

['product_id', 'product_name', 'aisle_id', 'department_id']

In [ ]:
list(orders.columns)

['order_id',
 'user_id',
 'eval_set',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

## <h2><b><div><font face="Playfair" color="#33302e">Describe the Tables
<h3><font face="Playfair" color="#33302e">
Now that we know what each DataFrame table contains, we can create feature and table meanings for each of the tables to help us remember what we learned in our initial exploratory analysis.

In [ ]:
#4. Create feature meanings for each dataframe
feature_meaning={'aisle_id':"ID of the aisle for food groups", 'aisle':"food groups"}

In [ ]:
feature_meaning={'department_id':"ID of the department", 'department':"name of the department"}

In [ ]:
feature_meaning={'order_id':"order identifier", 'user_id':"customer identifier", 'eval_set':"which evaluation set this order belongs in", 'order_number':"the order sequence number for this user", 'order_dow':"the day of the week the order was placed on", 'order_hour_of_day':"the hour of the day the order was placed on", 'days_since_prior_order':"days since the last order"}

In [ ]:
feature_meaning={'product_id':"ID of the product", 'product_name':"name of the product", 'aisle_id':"foreign key", 'department_id':"foreign key"}

In [ ]:
#5. Create table meanings for each dataframe
table_meaning={'aisles.csv':"This table has the food groups and their aisle id"}

In [ ]:
table_meaning={'department.csv':"This table has the department names and IDs"}

In [ ]:
table_meaning={'orders.csv':"This table has information about orders"}

In [ ]:
table_meaning={'products.csv':"This table has information about products"}

## <h2><b><div><font face="Playfair" color="#33302e">See What the Data Types Are
<h3><font face="Playfair" color="#33302e">
Now let's see what the datatypes are for each of the columns in the DataFrame tables.

In [ ]:
#6. Data types
aisles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [ ]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

## <h2><b><div><font face="Playfair" color="#33302e">How Many Unique Rows Do We Have?
<h3><font face="Playfair" color="#33302e">
Let's see what the aisles, departments, and products are in Instacart by looking at the unique rows in each column of the DataFrame tables.

In [ ]:
#7. Unique items
for col in aisles:
  print(aisles[col].unique())

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134]
['prepared soups salads' 'specialty cheeses' 'energy granola bars'
 'instant foods' 'marinades meat preparation' 'other' 'packaged meat'
 'bakery desserts' 'pasta sauce' 'kitchen supplies' 'cold flu allergy'
 'fresh pasta' 'prepared meals' 'tofu meat alternatives'
 'packaged seafood' 'fresh herbs' 'baking ingredients'
 'bulk dried fruits vegetables' 'oils vinegars' 'oral hygiene'
 'packaged cheese' 'hair care' 'popcorn jerky' 'fresh fruits' 'soap'
 'coffee' 'beers coolers' 'red wines' 'honeys syrups nectars'
 'latino foods' 'refrigerated' 'packaged produce' 'kosher foods'
 'frozen meat seafood' 'poultry counter' 'butter' 'ice cream ice'
 'frozen meals' 'seafood counter' 'dog food care' 'cat food care'
 'frozen vegan vegetarian' 'buns rolls' 'eye ear care' 'candy chocolate'
 'mint gum' 'vitamins supplements' 'breakfast bars pastries'
 'packaged poultry' 'fruit vegetable snacks' 'preserved dips spreads'
 'frozen breakfast' 'cream' 'paper goods' 'shave needs' 'diapers wipes'
 'granola' 'frozen breads doughs' 'canned meals beans' 'trash bags liners'
 'cookies cakes' 'white wines' 'grains rice dried goods'
 'energy sports drinks' 'protein meal replacements' 'asian foods'
 'fresh dips tapenades' 'bulk grains rice dried goods'
 'soup broth bouillon' 'digestion' 'refrigerated pudding desserts'
 'condiments' 'facial care' 'dish detergents' 'laundry' 'indian foods'
 'soft drinks' 'crackers' 'frozen pizza' 'deodorants'
 'canned jarred vegetables' 'baby accessories' 'fresh vegetables' 'milk'
 'food storage' 'eggs' 'more household' 'spreads'
 'salad dressing toppings' 'cocoa drink mixes' 'soy lactosefree'
 'baby food formula' 'breakfast bakery' 'tea' 'canned meat seafood'
 'lunch meat' 'baking supplies decor' 'juice nectars'
 'canned fruit applesauce' 'missing' 'air fresheners candles'
 'baby bath body care' 'ice cream toppings' 'spices seasonings'
 'doughs gelatins bake mixes' 'hot dogs bacon sausage' 'chips pretzels'
 'other creams cheeses' 'skin care' 'pickled goods olives'
 'plates bowls cups flatware' 'bread' 'frozen juice' 'cleaning products'
 'water seltzer sparkling water' 'frozen produce' 'nuts seeds dried fruit'
 'first aid' 'frozen dessert' 'yogurt' 'cereal' 'meat counter'
 'packaged vegetables fruits' 'spirits' 'trail mix snack mix'
 'feminine care' 'body lotions soap' 'tortillas flat bread'
 'frozen appetizers sides' 'hot cereal pancake mixes' 'dry pasta' 'beauty'
 'muscles joints pain relief' 'specialty wines champagnes']

In [ ]:
for col in departments:
  print(departments[col].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]
['frozen' 'other' 'bakery' 'produce' 'alcohol' 'international' 'beverages'
 'pets' 'dry goods pasta' 'bulk' 'personal care' 'meat seafood' 'pantry'
 'breakfast' 'canned goods' 'dairy eggs' 'household' 'babies' 'snacks'
 'deli' 'missing']

In [ ]:
for col in orders:
  print(orders[col].unique())

[2539329 2398795  473747 ...  626363 2977660  272231]
[     1      2      3 ... 206207 206208 206209]
['prior' 'train' 'test']
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
[2 3 4 1 5 0 6]
[ 8  7 12 15  9 14 16 11 10 19 18 17 13 20  0 21 22  5 23  4  6  1  2  3]
[nan 15. 21. 29. 28. 19. 20. 14.  0. 30. 10.  3.  8. 13. 27.  6.  9. 12.
  7. 17. 11. 22.  4.  5.  2. 23. 26. 25. 16.  1. 18. 24.]

In [ ]:
for col in products:
  print(products[col].unique())

[    1     2     3 ... 49686 49687 49688]
['Chocolate Sandwich Cookies' 'All-Seasons Salt'
 'Robust Golden Unsweetened Oolong Tea' ... 'Artisan Baguette'
 'Smartblend Healthy Metabolism Dry Cat Food' 'Fresh Foaming Cleanser']
[ 61 104  94  38   5  11  98 116 120 115  31 119  74  56 103  35  79  63
  40  20  49  47   3  41 127 121  81 123 107 131 106  69 100  64  78  83
  58  66  87  14 105  22 134  23 111 128  50   9  96  92  89  88 130  26
  77  65  12  95  19   7   6  97   2 112  10  51  13  75  70  93  34  62
  21  29  45 118   4 108  37 109  91  24  67 132  25 129  46  16  52  17
  73 122  42  59 126  33   1   8  82 114 124 117  72 110  85  44  80 101
  84  30  27  90  48 133  53  28  68  43 125  57  15  55  36  54 102  60
  99  18  39  71 113  86  32  76]
[19 13  7  1 11 16 17 18 12  9  8 14 15  4 21  6 20  5  3  2 10]

## <h2><b><div><font face="Playfair" color="#33302e">How Many Rows and Columns Are In Each DataFrame Table?
<h3><font face="Playfair" color="#33302e">
Now let's take a look at how large each of the DataFrame tables are so we know how many aisles, orders, departments, and products there are in the dataset.

In [ ]:
#8. Dimensions
aisles.shape

(134, 2)

In [ ]:
orders.shape

(3421083, 7)

In [ ]:
departments.shape

(21, 2)

In [ ]:
products.shape

(49688, 4)

## <h2><b><div><font face="Playfair" color="#33302e">Manually Reset the Runtime of Google Colaboratory
<h3><font face="Playfair" color="#33302e">
We are limited with the amount of RAM and Disk space we have, so to be able to correctly analyze the dataset, we need to reset the runtime for each section in this notebook.

In [ ]:
# 9. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <div><h2><b><font face="Playfair" color="#33302e">Research Questions
</font></div>
<h3><font face="Playfair" color="#33302e">
Now that we've completed the initial exploratory analysis and understand what each table contains, we can come up with some suitable research questions for the dataset. Listed below are the questions that will be answered in each of the following sections. Remember, if you'd like to run the code for each section, just press the play button next to the cell that says <code><i>"[] cells hidden"</i></code> after running the first two cells in this notebook. The sections will import the needed libraries and datasets to answer the question, and then will manually reset the runtime.

<h3>
<font face="Playfair" color="#33302e">
<li>Which day of the week sees most orders?
<li>What is the least busy day of the week for shopping?
<li>What is the busiest time-of-day?
<li>What are the most popular snacks?
<li>What are the most popular bakery products?
<li>What are the most popular products overall?
<li>How many unique orders do we have?
<li>What is the most popular first item to add to the cart? 
<li>Does that change by day of the week?
<li>What is the average number of orders per customer?
<li>How frequently has a customer reordered products?
<li>What is the probability certain products will be reordered?

</font>

# <h2><b><div><font face="Playfair" color="#33302e">Which day of the week sees the most orders?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <i><code>orders, orders_products_prior, products</code></i> tables were imported as DataFrames and joined twice into a DataFrame titled <code>joined</code>. A simple histogram was created in Pandas, then exported to make more visually striking. This was done because importing the Plotly library kept resetting the Runtime in Google Colaboratory. The <code>joined</code> DataFrame was then exported as a CSV to be imported in later sections and to save on RAM.
<br><br>
After all this was done, we can see that <b>most orders occur on Sunday, with the least on Thursday.</b> 
<br><br>This is typically the day that most people go grocery shopping in store as well. It also makes sense since people will typically run out of food as the week ends and will have to go shopping again on Sunday. To have an equal blanket of revenue and orders throughout the week, Instacart can offer specials for days that don't see many orders.
<br><br>
<img src="https://live.staticflickr.com/65535/51374484171_9fc070b985_k.jpg" width="700" alt="Final_Graphics2">

## <h2><b><div><font face="Playfair" color="#33302e">Import Only the CSVs Needed for the Section
<h3><font face="Playfair" color="#33302e">
Below, we import Pandas again, as well as the datasets needed to answer this research question.

In [ ]:
#2. Import Pandas
import pandas as pd
#3. Import CSV files as dataframes
orders = pd.read_csv('orders.csv' )
order_products_prior = pd.read_csv('order_products__prior.csv')
products = pd.read_csv('products.csv')

In [ ]:
#4. Import Garbage Collector to improve efficiency and performance
import gc                         
gc.enable()

## <h2><b><div><font face="Playfair" color="#33302e">Join <code>orders</code> with <code>order_products_prior</code>
<h3><font face="Playfair" color="#33302e">
An outer join returns all unique values from two datasets on a shared joinkey. To get all unique orders from the dataset, an outer join was completed on the DataFrame tables, <code>orders</code> and <code>order_products_prior</code> on the <code>order_id</code> joinkey into a new DataFrame, <code>joined</code>.

In [ ]:
#6. Conduct outer join on prior orders with orders on joinkey, "order_id" to pull all unique orders from each dataset
joined = orders.merge(order_products_prior, on='order_id', how='outer')
joined.head()

## <h2><b><div><font face="Playfair" color="#33302e">Delete Unneeded Columnns
<h3><font face="Playfair" color="#33302e">
We only need the columns, <code>order_id</code>, <code>order_dow</code>, <code>order_hour_of_day</code>, and <code>product_id</code>, to answer the research question, so all others are deleted to save on RAM and Disk space.

In [ ]:
#3. Delete columns we don't need to conserve RAM and Disk space
del joined['user_id']

In [ ]:
del joined['eval_set']

In [ ]:
del joined['order_number']

In [ ]:
del joined['days_since_prior_order']

In [ ]:
del joined['add_to_cart_order']

In [ ]:
del joined['reordered']

## <h2><b><div><font face="Playfair" color="#33302e">Check for Null and Duplicate Values
<h3><font face="Playfair" color="#33302e">
It's good practice to always check for null or duplicate values and drop any null or duplicate values after conducting a join.

In [ ]:
#5. Check for null values
joined['order_dow'].isnull().sum()

In [ ]:
joined['order_hour_of_day'].isnull().sum()

In [ ]:
#6. Drop any null values
joined.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

In [ ]:
#7. Check the shape of the dataframe pror to removing duplicative values to see how many duplicates there were
joined.shape

In [ ]:
#8. Drop all duplicate values
joined[joined.duplicated(keep=False)]

In [ ]:
#9. Check the size of the dataframe to see if there's a difference
joined.shape

## <h2><b><div><font face="Playfair" color="#33302e">Join <code>joined</code> DataFrame with <code>products</code>
<h3><font face="Playfair" color="#33302e">
An inner join matches all shared values between datasets. Since we only need the product names in the orders, we use an inner join to merge the  <code>joined</code> DataFrame with <code>products</code> on the shared joinkey, <code>product_id</code>.

In [ ]:
#10. Conduct inner join on products with the joined dataframe (orders + orders+previous) on joinkey, 
# "product_id" to pull all matching product names and IDs to our orders dataframe
joined = joined.merge(products, on='product_id', how='inner')
joined.head()

## <h2><b><div><font face="Playfair" color="#33302e">Delete Columns We Won't Need
<h3><font face="Playfair" color="#33302e">
The cell below deletes the <code>aisle_id</code> column since we won't need that in the <code>joined</code> DataFrame for later use.

In [ ]:
#11. Delete unneeded columns from the dataframe to save RAM and Disk space
del joined['aisle_id']

## <h2><b><div><font face="Playfair" color="#33302e">Create a Simple Histogram with Pandas
<h3><font face="Playfair" color="#33302e">
All the code in this notebook is risking a runtime reset so we create a simple histogram in Pandas to export and refine in Adobe Creative Suite. This allows us to add formatting not typically native in Pandas and import it into Google Photos, then into a <code> < img > </code> HTML tag.

In [ ]:
#12. Histogram of most prominent days with orders
joined.hist(column='order_dow',
       figsize=[10, 6])

## <h2><b><div><font face="Playfair" color="#33302e">Join <code>joined</code> DataFrame with <code>departments</code>
<h3><font face="Playfair" color="#33302e">
To filter, group, and sort data later on based off the department of the product, we now need to conduct the third and last join on the <code>joined</code> DataFrame with <code>departments</code> on the shared joinkey, <code>department_id</code>. We are conducting another inner join in order to only pull shared values with orders.

In [ ]:
#13. Conduct inner join on departments with the joined dataframe (orders + orders+previous) on joinkey, 
# "department_id" to pull all matching product names and IDs to our orders dataframe
joined = joined.merge(departments, on='department_id', how='inner')
joined.head()

## <h2><b><div><font face="Playfair" color="#33302e">Save <code>joined</code> DataFrame to a CSV File
<h3><font face="Playfair" color="#33302e">
Now all these joins have created quite a large DataFrame so let's save it as a .CSV file to save on space and so that we can easily use it later without having to complete all the previous steps again.

In [ ]:
# Save dataframe to CSV to save RAM
joined.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/joined.csv',encoding='utf-8')

## <h2><b><div><font face="Playfair" color="#33302e">Run Manual Runtime Reset
<h3><font face="Playfair" color="#33302e">
Reset the runtime to start on a new slate without all the join outputs using up memory.

In [ ]:
# Reset Runtime to save RAM -- Move onto and run all cells for the next question
# This question is finished and we don't need to run any code here for the next sections to run successfully
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Which time-of-day sees the most orders?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <i><code>joined</code></i> DataFrame was imported from the CSV file we saved in the previous section and a simple histogram was created from the Pandas library, then the runtime was reset once again. From the histogram, we see that most orders occur in the afternoon, around 3:00 P.M. Adding this information to the histogram above, we can conclude that the <b> busiest time for Instacart is on Sundays around 3:00 P.M.</b>
<br><Br>Not surprisingly, we see that not many orders occur between the hours of midnight and 6:00 A.M., orders steadily increase after 7:00 A.M., peak at around 3:00 P.M., and drop significantly until midnight.
<br><br>
<img src="https://live.staticflickr.com/65535/51373722757_67f0415045_k.jpg" width="700" alt="Final_Graphics4">

In [ ]:
#1. Import Pandas again since we reset the session in the last cell of the previous section
import pandas as pd
#2. Just import the joined CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/joined.csv'
joined = pd.read_csv(csv,index_col=0)
joined.head()

FileNotFoundError: ignored

In [ ]:
# 3. Histogram of most prominent hours of day for orders
joined.hist(column='order_hour_of_day',
       figsize=[10, 6])

NameError: ignored

In [ ]:
# 4. Reset Runtime to save RAM -- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">What are the most popular snacks?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <i><code>joined</code></i> DataFrame was imported from the CSV file we saved in the previous section, filtered for <code>snacks</code> in the <code>department</code> column, and saved the result to a new DataFrame, <code>Snacks</code>.
<br><Br>
From the new <code>Snacks</code> DataFrame, a new column was created with the value counts of each occurance of the Snack product name. It was then filted for the most prevalent snacks and a simple bar chart was created in Pandas.
<br><br>
From this analyis, it was found that <b>Lightly Salted Baked Snap Pea Crisps</b> is the most popular snack among Instacart users, followed by <b>Original Veggie Straws</b>, <b>Sea Salt Pita Chips</b>, <b>Pretzel Crisps Original Deli Style Pretzel Crackers</b>, and <b>Sea Salt & Vinegar Potato Chips</b>.

In [ ]:
#1. Import Pandas again since we reset the session in the last cell of the previous section
import pandas as pd
#2. Just import the joined CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/joined.csv'
joined = pd.read_csv(csv,index_col=0)
joined.head()

## <h2><b><div><font face="Playfair" color="#33302e">Filter for the Snacks Department
<h3><font face="Playfair" color="#33302e">
A new DataFrame was created that only included products and orders from the Instacart Snacks department.
<br><br>

In [ ]:
#3. To find the most popular snacks, filter the joined dataframe for departments that equal to snacks
Snacks = joined.loc[joined['department'] == 'snacks']

In [ ]:
Snacks

## <h2><b><div><font face="Playfair" color="#33302e">Count the Prevalence of Each Snack
<h3><font face="Playfair" color="#33302e">
To see the prevalence of each snack item, <code>value_counts</code> was applied to the <code>product_name</code> and saved as a new column for use in a bar chart.
<br><br>

In [ ]:
#4. Value counts of prevalence of product names
Snacks['product_name'].value_counts()

In [ ]:
#5. Save value counts of product names as a column in the DataFrame
Snacks = Snacks['product_name'].value_counts().to_frame()

In [ ]:
Snacks

## <h2><b><div><font face="Playfair" color="#33302e">Filter for Most Prevalent Snacks
<h3><font face="Playfair" color="#33302e">
We can't show the entire <code>Snacks</code> DataFrame in a bar chart, so we need to filter for the products that 
<br><br>

In [ ]:
#6. Filter for the most prevelant snacks
Snacks = Snacks.loc[Snacks['product_name'] >= 10000]

In [ ]:
#7. See how many bars we'll have for the chart
Snacks.shape

In [ ]:
#8. Bar chart of most popular snacks
ax = Snacks.plot.bar(y='product_name', use_index=True)

In [ ]:
# 4. Reset Runtime to save RAM -- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Which Bakery products are purchased the most?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <i><code>joined</code></i> DataFrame was imported from the CSV file we saved in the previous section, filtered for <code>bakery</code> in the <code>department</code> column, and saved the result to a new DataFrame, <code>Bakery</code>.
<br><Br>
From the new <code>Bakery</code> DataFrame, a new column was created with the value counts of each occurance of the bakery product name. It was then filted for the most prevalent bakery items and a simple bar chart was created in Pandas.<br><br>
From this analysis, it was found that <b>100% whole wheat bread</b> is the product that is purchased significantly more than any other bakery product. It appears that Instacart shoppers are health-conscious eaters since closely following 100% whole wheat bread as the top bakery product purchased is organic bread with 21 whole grains, Ezekiel 4:9 organic sprouted whole grain, and sourdough bread. <br><br>With this information, Instacart can arrange the Bakery landing page on the app to show these items at the top of the page to make for a better user experience.<br><br>
<img src="https://live.staticflickr.com/65535/51375215454_710ab8db76_k.jpg" width="700" alt="Final_Graphics">

In [ ]:
#1. Import Pandas again since we reset the session in the last cell of the previous section
import pandas as pd
#2. Just import the joined CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/joined.csv'
joined = pd.read_csv(csv,index_col=0)
joined.head()

In [ ]:
#3. Filter for Bakery department items
bakery = joined.loc[joined['department'] == 'bakery']

In [ ]:
bakery

In [ ]:
#4. Value counts to find most popular bakery items, save it as column in DataFrame
bakery = bakery['product_name'].value_counts().to_frame()

In [ ]:
bakery

In [ ]:
#5. Filter for the most popular items
bakery = bakery.loc[bakery['product_name'] >= 10000]

In [ ]:
#6. Check to see how many bars will be in the chart
bakery.shape

In [ ]:
#7. Bar chart of most popular bakery items
ax = bakery.plot.bar(y='product_name', use_index=True)

In [ ]:
# 8. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">What is the most popular first item users add to the cart?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>orders</code>, <code>orders_products_prior</code>, and <code>products</code> DataFrames were imported from the CSV files from the Kaggle zip folder. To pull all unique orders into a new DataFrame, <code>most_popular_first_item</code> an outer join was conducted on the <code>orders</code> and <code>order_products_prior</code>tables on the shared joinkey, <code>order_id</code>. An inner join was done on the new <code>most_popular_first_item</code> DataFrame with the <code>products</code> table to match up the shared product values with the unique orders. 
<br><br>
The <code>most_popular_first_item</code> DataFrame was then filtered for only first orders, and a new column with the value counts of each product was created. The top 15 items were saved to a new DataFrame in order to create a simple Pandas bar chart of the top 15 items added to the cart first by a user.
<br><br>
From this analysis, it was found that <b>bananas</b> are the first item most often added to carts first by Instacart users. Instacart can use this information to create widgets on the app homepage with the bananas product with an "add to cart" button, or automatically have bananas in a user's cart when they begin shopping. It may also make sense to make bananas complimentary to every purchase since they are so low in cost and will help mitigate any customer dissatisfaction from having a product already in their cart that they have to pay for.

In [ ]:
#1. Import Pandas library again since we reset the last section
import pandas as pd
#2. Import CSV files as dataframes
orders = pd.read_csv('orders.csv' )
order_products_prior = pd.read_csv('order_products__prior.csv')
products = pd.read_csv('products.csv')

## <h2><b><div><font face="Playfair" color="#33302e">Join the Orders DataFrames
<h3><font face="Playfair" color="#33302e">
Complete an outer join to create a DataFrame with all unique orders.
<br><br>

In [ ]:
#3. Join orders with order_products_prior on an outer join to retrieve all unique orders togeter in one DataFrame
most_popular_first_item = orders.merge(order_products_prior, on='order_id', how='outer')
most_popular_first_item.head()

## <h2><b><div><font face="Playfair" color="#33302e">Delete Columns
<h3><font face="Playfair" color="#33302e">
Delete any columns we won't need for this research question.

In [ ]:
#4. Delete columns we don't need to save on RAM
del most_popular_first_item['user_id']

In [ ]:
del most_popular_first_item['eval_set']

In [ ]:
del most_popular_first_item['days_since_prior_order']

In [ ]:
del most_popular_first_item['reordered']

## <h2><b><div><font face="Playfair" color="#33302e">Join All Unique Orders with Product Names
<h3><font face="Playfair" color="#33302e">
Join the DataFrame with all unique orders with its corresponding product names to see which product is most often added to the cart first.

In [ ]:
#5. Get product name column by conducting an inner join to only return shared values
most_popular_first_item = most_popular_first_item.merge(products, on='product_id', how='inner')
most_popular_first_item.head()

## <h2><b><div><font face="Playfair" color="#33302e">Delete Columns
<h3><font face="Playfair" color="#33302e">
Delete any columns we won't need for this research question.

In [ ]:
#6. Delete columns we don't need to save on RAM
del most_popular_first_item['department_id']

In [ ]:
del most_popular_first_item['aisle_id']

## <h2><b><div><font face="Playfair" color="#33302e">Filter for the First Items Added to Cart
<h3><font face="Playfair" color="#33302e">
Filter the DataFrame so that we are only looking at data for items added to the cart first by users.

In [ ]:
#7. Filter for first items added to cart
most_popular_first_item = most_popular_first_item.loc[most_popular_first_item['add_to_cart_order'] == 1]

## <h2><b><div><font face="Playfair" color="#33302e">Save the DataFrame to a CSV for Later Use
<h3><font face="Playfair" color="#33302e">
We'll use this same DataFrame to answer the research question in the next section so instead of running all the same steps above, save it as a CSV to import to answer that specific question.

In [ ]:
#9. Save dataframe to CSV to save RAM and for use in later sections
most_popular_first_item.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/most_popular_first_item.csv',encoding='utf-8')

## <h2><b><div><font face="Playfair" color="#33302e">Create DataFrame with Top Products Added to Cart First
<h3><font face="Playfair" color="#33302e">
Create a new column that counts each occurence of the product, then save the top products to a new DataFrame for use in a bar chart visualization.

In [ ]:
#10. Save value counts column of product name to the DataFrame
most_popular_first_item_df = most_popular_first_item['product_name'].value_counts().to_frame()

In [ ]:
most_popular_first_item_df = most_popular_first_item_df.head(15)
print (most_popular_first_item_df)

## <h2><b><div><font face="Playfair" color="#33302e">Create a Bar Chart
<h3><font face="Playfair" color="#33302e">
Create a simple bar chart in Pandas of the top products added to cart first by users.

In [ ]:
#11. Bar chart of most popular first items added to cart
ax = most_popular_first_item_df.plot.bar(y='product_name', use_index=True)

In [ ]:
#12. Count by product_ids to see if there is a difference in results
most_popular_first_item['product_id'].value_counts()

In [ ]:
# 13. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Does this change by the day of the week?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>most_popular_first_item</code> DataFrame were imported from the CSV file created in the previous section, and new DataFrames filtered for each day of the week were created to see if there was a change. Bar charts were created from each DataFrame and were exported then redesigned in Adobe Creative Suite.
<br><br>
From this, it was found that <b>bananas</b> are the first products added to a user's cart everyday of the week. From this analysis, it was found that a user's shopping behaviors hardly change throughout the week with the first products added to cart unchanging each day of the week. I would assume that on Fridays, shopping may be for weekend or party products, but it appears that each time a user shops, its to restock their kitchen.
<br><br>
<img src="https://live.staticflickr.com/65535/51373731097_f4fd6e8cac_k.jpg" width="700" alt="banana">

In [ ]:
#1. Import Pandas Library again since we reset last section
import pandas as pd
#2. Import DataFrame from previous section that we exported as a CSV
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/most_popular_first_item.csv'
most_popular_first_item = pd.read_csv(csv,index_col=0)
most_popular_first_item.head()

In [ ]:
#3. Filter for Sunday
dow_zero = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 0]

In [ ]:
#4. Filter for most popular items added to cart first on Sundays
dow_zero = dow_zero['product_name'].value_counts().to_frame()

In [ ]:
dow_zero = dow_zero.head(5)
print (dow_zero)

In [ ]:
#5. Bar chart of most popular first items added to carts on Sundays
ax = dow_zero.plot.bar(y='product_name', use_index=True)

In [ ]:
#6. Filter for Monday
dow_one = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 1]

In [ ]:
#7. Filter for most popular items added to cart first on Mondays
dow_one = dow_one['product_name'].value_counts().to_frame()

In [ ]:
dow_one = dow_one.head(5)
print (dow_one)

In [ ]:
#8. Bar chart of most popular first items added to carts on Mondays
ax = dow_one.plot.bar(y='product_name', use_index=True)

In [ ]:
#9. Filter out for Tuesday
dow_two = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 2]

In [ ]:
#10. Create new column of products added first to cart on Tuesdays
dow_two = dow_two['product_name'].value_counts().to_frame()

In [ ]:
dow_two = dow_two.head(5)
print (dow_two)

In [ ]:
#11. Bar chart of most popular first orders added to cart on Tuesdays
ax = dow_two.plot.bar(y='product_name', use_index=True)

In [ ]:
#12. Filter for Wednesdays
dow_three = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 3]

In [ ]:
#13. Create column for counts of products added first to cart on Wednesdays in DataFrame
dow_three = dow_three['product_name'].value_counts().to_frame()

In [ ]:
dow_three = dow_three.head(5)
print (dow_three)

In [ ]:
#14. Bar chart of most popular first items added to carts on Wednesdays
ax = dow_three.plot.bar(y='product_name', use_index=True)

In [ ]:
#15. Filter for Thursdays
dow_four = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 4]

In [ ]:
#16. Add value counts of products first added to cart on Thursdays as column to DataFrame
dow_four = dow_four['product_name'].value_counts().to_frame()

In [ ]:
dow_four = dow_four.head(5)
print (dow_four)

In [ ]:
#17. Bar chart of most popular products first added to cart on Thursdays
ax = dow_four.plot.bar(y='product_name', use_index=True)

In [ ]:
#18. Filter for Fridays
dow_five = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 5]

In [ ]:
#19. Add value counts of products first added to cart on Fridays as column to DataFrame
dow_five = dow_five['product_name'].value_counts().to_frame()

In [ ]:
dow_five = dow_five.head(5)
print (dow_five)

In [ ]:
#20. Bar chart of most popular products first added to cart on Fridays
ax = dow_five.plot.bar(y='product_name', use_index=True)

In [ ]:
#21. Filter for Saturdays
dow_six = most_popular_first_item.loc[most_popular_first_item['order_dow'] == 6]

In [ ]:
#22. Add value counts of products first added to cart on Saturdays as column to DataFrame
dow_six = dow_six['product_name'].value_counts().to_frame()

In [ ]:
dow_six

2. The most popular first item to add to cart is a banana and it doesn't change throughout the week.

In [ ]:
dow_six = dow_six.head(5)
print (dow_six)

In [ ]:
#23. Bar chart of most popular products first added to cart on Saturdays
ax = dow_six.plot.bar(y='product_name', use_index=True)

In [ ]:
#24. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">What is the frequency of reorders among users?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>orders</code> and <code>order_products_prior</code> DataFrames were imported from the Kaggle CSV files. A new DataFrame, <code>all_orders</code> was created by joining <code>orders</code> with <code>order_products_prior</code> on the shared joinkey, <code>order_id</code> through an outer join to pull all unique order ID values and create a dataset that contains all unique orders. This DataFrame was saved as a CSV for later use since it'll be used in the next sections.
<br><br>
From this DataFrame, a new column was created that counted the max total orders and grouped this result by <code>user_id</code> and was saved in a new DataFrame, <code>user_orders</code>. A simple Pandas histogram was created from from the new column, <code>total_user_orders</code> to see the prevalence of the values of the maximum total orders per unique user. 
<br><br>
From this analysis, it was found that <b>users typically place less than 10 orders through Instacart</b>. From this information, Instacart may want to see what makes a user place less than 10 purchases -- perhaps Instacart offers a promo code for first-time users so each time a user places a purchase, they create a new account to take advantage of the discount. Instacart may also consider creating a loyalty program where each purchase total contributes to a point total with prizes given for each tier of point accumulation.<br><Br>
<img src="https://live.staticflickr.com/65535/51375483250_492d0a6fd5_k.jpg" width="700" alt="Final_Graphics-2">

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Import the tables we need from CSV files as dataframes
orders = pd.read_csv('orders.csv' )
order_products_prior = pd.read_csv('order_products__prior.csv')

## <h2><b><div><font face="Playfair" color="#33302e">Create a DataFrame with All Unique Orders
<h3><font face="Playfair" color="#33302e">
A new DataFrame, <code>all_orders</code> was created by joining <code>orders</code> with <code>order_products_prior</code> on the shared joinkey, <code>order_id</code> through an outer join to pull all unique order ID values and create a dataset that contains all unique orders.

In [ ]:
#3. Conduct outer join on prior orders with orders on joinkey, "order_id" to pull all unique orders from each dataset
all_orders = orders.merge(order_products_prior, on='order_id', how='outer')
all_orders.head()

## <h2><b><div><font face="Playfair" color="#33302e">Save the DataFrame for Later Use
<h3><font face="Playfair" color="#33302e">
This DataFrame was saved as a CSV for later use since it'll be used in the next sections.

In [ ]:
#4. Save dataframe to CSV to save RAM and for use in later sections
all_orders.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/all_orders.csv',encoding='utf-8')

## <h2><b><div><font face="Playfair" color="#33302e">Create a New Column with Max Orders Grouped by Unique Users
<h3><font face="Playfair" color="#33302e">
From the joined DataFrame, a new column was created that counted the max total orders and grouped this result by <code>user_id</code> and was saved in a new DataFrame, <code>user_orders</code>. A simple Pandas histogram was created from from the new column, <code>total_user_orders</code> to see the prevalence of the values of the maximum total orders per unique user. 
<br><br>

In [ ]:
#5. Group by user ID and order number for total orders per user
users_orders = all_orders.groupby('user_id')['order_number'].max().to_frame('users_total_orders')
users_orders.head()

## <h2><b><div><font face="Playfair" color="#33302e">Reset the Index
<h3><font face="Playfair" color="#33302e">
Reset the Index so that <code>user_id</code> is a column and not the DataFrame index.
<br><br>

In [ ]:
#6. Reset the index so that user_id is a column and not an index
users_orders = users_orders.reset_index()
users_orders.head()

## <h2><b><div><font face="Playfair" color="#33302e">Save the DataFrame with User ID and Total User Orders to a CSV for Later Use
<h3><font face="Playfair" color="#33302e">
This dataset will be need in other sections so we'll save it as a CSV to import later on.
<br><br>

In [ ]:
#4. Save dataframe to CSV to save RAM and for use in later sections
users_orders.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/users_orders.csv',encoding='utf-8')

## <h2><b><div><font face="Playfair" color="#33302e">Create a Histogram of Prevalence of Number of Orders Per User
<h3><font face="Playfair" color="#33302e">
The below histogram was generated through Pandas and then exported to bring into Adobe Creative Suite to make more visually appealing.
<br><br>

In [ ]:
#7. Histogram of prevalence of how many orders each user makes
users_orders.hist(column='users_total_orders',
       figsize=[10, 6])

In [ ]:
# 8. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">What's the most prevalent ratio for users reordering?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>all_orders</code> and <code>users_orders</code> DataFrames were imported the saved CSV files from the previous sections. A new DataFrame, <code>user_reorder</code> was created by finding the <code>mean</code> of the <code>maximumn</code> number of orders per unique user to create a ratio of reorders per user. This DataFrame was joined with <code>users_orders</code> to create a new DataFrame that outlines the users behaviors on Instacart called <code>user_behavior</code>.
<br><br>
A simple histogram of the prevalence of reorder ratios among unique users was created in Pandas and redesigned in Adobe Creative Suite.
<br><br>
From this analysis, it was found that <b>users reorder from Instacart less than half of the time</b>. This tells us that there aren't many return customers to Instacart.<br><Br>
<img src="https://lh3.googleusercontent.com/lk59H-fssxl6JlNArwyNSWEM51G2uV_TPTRNa8EojiV86wim2feZaBWd0kKIFzrCdkfZbIFk9KDbwyHu-f5PpUGALCv6fIhig-2W0DrH1yu7AOBTdG7TLVgvmfhWP0kMKfmgZD2KQO4UawcP5bLgxTL1QUcgqY5HB_BVw2jCDCcOPN3pH6MONetMW4epqSUNkcVNE-g88xNiiW2WAOWPTuE1UQ8b00QNWhE9FfVd1PjZzOdIcsF_OinO9PWgozzyk5IPItdo1KY9KnlpwbSfFMR7xq1tJZnSA7ftRjIxcNeWT7r-_miMhSb6q59a6ZU_xXrKekIsPfhihkgXmWksecrRRQ9nUGPp6JksAfp3DO1uEkMI_C72q_1wCg5SlhRfxDpS1TkytjgoWNCQXQLbRRxLIo4t9OLB9fsFwwaENv21ffnT7rBQczzeczpLlcGpZsD7xZqmtDgLQppfQY9Wlcj-Wy2gwbwIFoNttFlJhmlCbhk3rvjux8lJSOnEHBX0OwWKS2ijRjj9TwsnOVlGPgwKjkvId120Frq6bAw9epZM6Yhoa2LJee9A-64pHHWG7hgACSpHOk5ztmkSM6QIvgsW24JpE7x_OIBEjweQabO5a8UffkfMLZ897iOBzfY-KoWaHHzafSabKoLd3e8PZuZYaF2UErPtfke0bfJ-e8NkFCLK0HdDXgLe95Xo4vv3dvBmTlTxVJ15q2sep_KK7XA=w2400-h1800-no?authuser=2" alt="diagram-2" border="1" width="700">

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Import the all_orders CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/all_orders.csv'
all_orders = pd.read_csv(csv,index_col=0)
all_orders.head()

In [ ]:
#3. Import the users_orders CSV file as a DaataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/users_orders.csv'
users_orders = pd.read_csv(csv,index_col=0)
users_orders.head()

In [ ]:
#4. Calculate the reordered ratio by calculating the mean of reorders per user and saving it as a column to the dataframe
user_reorder = all_orders.groupby('user_id')['reordered'].mean().to_frame('user_reordered_ratio')
user_reorder = user_reorder.reset_index()
user_reorder.head()

In [ ]:
#5. Merge users_orders with user_reorder to get users_total_orders with user_reordered_ratio
user_behavior = users_orders.merge(user_reorder, on='user_id', how='inner')
user_behavior.head()

In [ ]:
user_reorder.hist(column='user_reordered_ratio',
       figsize=[10, 6])

In [ ]:
# 8. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Which products have the most total purchases?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>all_orders</code> DataFrame was imported from the saved CSV files from the previous sections. A new DataFrame, <code>product_popularity</code> was created by finding the <code>counts</code> of the <code>products</code> and grouping it by <code>order_id</code> to create a new column, <code>product_total_purchases</code>. This DataFrame was saved as a CSV for later use in other sections.
<br><br>
Thr DataFrame was then sorted high to low with the top values saved to a new DataFrame in order to create a bar chart of the products with the most total purchases.
<br><br>
From this analysis, it was found that <b>bananas, bags of organic bananas, organic strawberries, organic baby spinach, and organic hass avocados are the procuts with the most total purchases</b>. Interestingly, bananas are always the first item added to a user's cart and are also the most purchased out of all products on Instacart. It's the first thing users think of when they come to shop and is most frequently bought.<br><Br>
<img src="https://live.staticflickr.com/65535/51374477761_e01f2738bd_k.jpg" width="700" alt="Final_Graphics_banana">
</font></div>

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Just import the all_orders CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/all_orders.csv'
all_orders = pd.read_csv(csv,index_col=0)
all_orders.head()

In [ ]:
#3. Group orders by product ID and order ID with value counts saved as column "product_total_purchases" to DataFrame
product_popularity = all_orders.groupby('product_id')['order_id'].count().to_frame('product_total_purchases')
product_popularity.head()

In [ ]:
#4. Reset the index to make product_id a column and not the index
product_popularity = product_popularity.reset_index()
product_popularity.head()

In [ ]:
#5. Save dataframe to CSV to save RAM and for use in later sections
product_popularity.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/product_popularity.csv',encoding='utf-8')

In [ ]:
#6. Sort by highest to lowerest total product purchases
product_popularity = product_popularity.sort_values(by='product_total_purchases', ascending=False)

In [ ]:
product_popularity

In [ ]:
#7. Pull the top 25 products and save it as a DataFrame
product_popularity_25 = product_popularity.head(25)

In [ ]:
#8. Import products table for join
products = pd.read_csv('products.csv')

In [ ]:
#9. Join products and product_popularity on product_id with an inner join to pull all shared values into one DataFrame
product_popularity_25 = product_popularity_25.merge(products, on='product_id', how='inner')
product_popularity_25.head()

In [ ]:
#10. Bar chart of most popular products
ax = product_popularity_25.plot.bar(y='product_total_purchases', x='product_name')

In [ ]:
# 11. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">What's the most prevalent ratio for a product to be reordered?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>all_orders</code> and <code>product_popularity</code> DataFrames were imported from the saved CSV files from the previous sections. An inner join was completed to join <code>all_orders</code> with <code>product_popularity</code> in order to merge the <code>reordered</code> column with the dataset that has the total number of times each product was purchased. A new column, <code>p_reorder_ratio</code> was created to see the ratio at which a product is reordered. This was found by finding the <code>mean</code> of reorders and grouping it by the product ID. This was saved as a new DataFrame, <code>product_reorder</code> and was exported as a CSV for later use.
<br><br>
A histogram of the product reorder ratio was created and redesigned in Adodbe Creative Suite.
<br><br>
From this analysis, it was found that the <b>likelihood a product will be reordered is less than half of the time</b>. This finding likely correlates with the fact that users will reorder from Instacart less than half the time as well. <br><Br>
</font></div>
<img src="https://live.staticflickr.com/65535/51374477736_0d62596852_b.jpg" width="700" alt="Final_Graphics-">

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Import the all_orders CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/all_orders.csv'
all_orders = pd.read_csv(csv,index_col=0)
all_orders.head()

In [ ]:
#3. Import the product_popularity CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/product_popularity.csv'
product_popularity = pd.read_csv(csv,index_col=0)
product_popularity.head()

In [ ]:
#4. Inner join on product_popularity and all_orders to pull in shared product name values
product_popularity = product_popularity.merge(all_orders, on='product_id', how='inner')
product_popularity.head()

In [ ]:
#5. Group by product_id and reordered and find mean of times product is reordered to create the product reorder ratio
product_reorder = product_popularity.groupby('product_id')['reordered'].mean().to_frame('p_reorder_ratio')
product_reorder = product_reorder.reset_index()
product_reorder.head()

In [ ]:
#6. Save dataframe to CSV to save RAM and for use in later sections
product_reorder.to_csv('/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/product_reorder.csv',encoding='utf-8')

In [ ]:
product_reorder.hist(column='p_reorder_ratio',
       figsize=[10, 6])

In [ ]:
# 8. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Which products are reordered the most?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>product_reorder</code> and <code>products</code> DataFrames were imported from the saved CSV files from the previous sections. An inner join was completed to join <code>product_reorder</code> with <code>products</code> in order to see the <code>product_name</code> column alongside the product reorder ratio. The DataFrame was then sorted high to low by the product reorder ratio to see which products are reordered the most on Instacart.
<br><br>
A simple bar chart of the results was then created in Pandas.
<br><br>
From this analysis, it was found that <b>Raw Veggie Wrappers</b>,	<b>Serenity Ultimate Extrema Overnight Pads</b>, <b>Orange Energy Shots</b>, <b>Chocolate Love Bars</b>, and <b>Soy Powder Infant Formula</b> are <b>reordered the most</b>. Soy Powder Infant Formula makes sense as something reordered freqently it is something that is gone through quickly and is a necessity, and it isn't a product that a user would try out and decide it's not for them -- the same with the elderly person's overnight pads. 
</font></div>

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Just import the all_orders CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/product_reorder.csv'
product_reorder = pd.read_csv(csv,index_col=0)
product_reorder.head()

In [ ]:
#3. Import the products table csv as a DataFrame
products = pd.read_csv('products.csv')

In [ ]:
#4. Merge the two DataFrames on shared product_ids
product_reorder = product_reorder.merge(products, on='product_id', how='inner')
product_reorder.head()

In [ ]:
#5. Sort values by the ratio in which products are reordered and save as new DataFrame
product_reorder = product_reorder.sort_values(by='p_reorder_ratio', ascending=False)

In [ ]:
product_reorder

In [ ]:
#6. Pull top 25 products that are most often reorded as new DataFrame
product_reorder_25 = product_reorder.head(25)

In [ ]:
#7. Bar chart of top 25 products most often reordered
ax = product_reorder_25.plot.bar(y='p_reorder_ratio', x='product_name')

In [ ]:
# 8. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)

# <h2><b><div><font face="Playfair" color="#33302e">Which products are ordered in the largest quantities?
<h3><font face="Playfair" color="#33302e">
To answer this question, the <code>all_orders</code> and <code>products</code> DataFrames were imported from the saved CSV files from the previous sections. A new DataFrame, <code>user_total_bought</code> was created with <code>user_id</code> grouped together with <code>product_id</code> and <code>order_id</code> counts. The DataFrame was then joined with <code>products</code> to see the product names of the products purchased in the highest quanties. It was then sorted high to low by the column, <code>user_total_bought</code> to see the products purchased in the greatest amounts. 
<br><br>
A bar chart of the results was created in Pandas then redesigned in Adobe Creative Suite. 
<br><br>
From this analysis, it was found that the product purchased in the largest quantaties is <b>organic string cheese</b>. Most of the items on this list are historically purchased in bulk by most people, like individual drinks, wine, apples, bananas, eggs, and yogurts as they're typically sold as singles and not packages of 12 or so.<br><Br>
</font></div>
<img src="https://live.staticflickr.com/65535/51374484151_bf8da2684b_k.jpg" width="700" alt="Final_Graphics3">

In [ ]:
#1. Import Pandas again since last section was reset
import pandas as pd
#2. Just import the all_orders CSV file as a DataFrame
csv = '/content/drive/MyDrive/Stage_DSA501_2021/4. Week_4/Final_Project/all_orders.csv'
all_orders = pd.read_csv(csv,index_col=0)
all_orders.head()

In [ ]:
#3. Import products table CSV as DataFrame
products = pd.read_csv('products.csv')

In [ ]:
#4. Group user IDs, product IDs, and order IDs by counts to a new column, "user_total_bought"
user_total_bought = all_orders.groupby(['user_id', 'product_id'])['order_id'].count().to_frame('user_total_bought')
user_total_bought.head()

In [ ]:
#5. Reset the index so user_id is a column and not the index
user_total_bought = user_total_bought.reset_index()
user_total_bought.head()

In [ ]:
#6. Sort the dataframe by users_total_bought to see the items most often purchased in bulk
user_total_bought = user_total_bought.sort_values(by='user_total_bought', ascending=False)

In [ ]:
user_total_bought

In [ ]:
#7. Merge with products to get product names
user_total_bought = user_total_bought.merge(products, on='product_id', how='inner')
user_total_bought.head()

In [ ]:
#8. Find number of products usually purchased in bulk
len(user_total_bought.product_id.unique())

In [ ]:
#9. Sort DataFrame by items purchased in bulk from highest to lowest
user_total_bought = user_total_bought.sort_values(by='user_total_bought', ascending=False)

In [ ]:
user_total_bought

In [ ]:
#10. Pull top 25 products purhased in bulk
user_total_bought_25 = user_total_bought.head(25)

In [ ]:
#11. Bar chart of top 25 products purchased in bulk
ax = user_total_bought_25.plot.bar(y='user_total_bought', x='product_name')

In [ ]:
# 12. Reset Runtime to save RAM (it will say "session crashed" but this is a purposeful manual crash
#-- Move onto and run all cells for next section
import os
os.kill(os.getpid(), 9)